h1{
    text-align:center;
    color:orange;
}
.container{
    height:100vh;
    display:flex;
    justify-content:center ;
    align-items: center;
    box-sizing:border-box;

}
.calculater{
    display:grid;
    border:5px blue solid;
    padding: 25px;
    border-radius:30px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    grid-template-columns: repeat(4,70px);
}
input{
    grid-column:4 span ;
    color:rgb(80, 12, 238);
    text-align: end;
    font-size: 60px;
    padding:10px;
    height: 60px;
    width:260px;
    border-radius:50px;
    margin:auto;
    background-color:orange;
    
}
button{
    padding: 20px;
    color:blue;
    background:rgb(172, 194, 75);
    font-size:25px;
    margin: 2px;
    border:none;
    border-radius:50%;
   
}
.equal{
    width:125px;
    border-radius:40px;
    font-size: 30px;  
}
